node_modules/
build

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# unit test coverage
coverage/

**/__pycache__/
# Vitest Preview
.vitest-preview

**/*.pyc
.venv
api/config*.json
api/service_account.json

.env.*local

e2e/.auth/

.gcloudignore
.cache
*storybook.log

# Pandacss
styled-system

dist