version: "3"
services:
  api:
    build: ./api
    volumes:
      - ./api:/api
      - ./api/config.json:/secret/config/config.json
      - ./api/service_account.json:/secret/config/service_account.json
    environment:
      # This ensures that errors are printed as they occur, which
      # makes debugging easier.
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
    ports:
      - 8001:8000
  ui:
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - ./src:/ui/src
      - ./public:/ui/public
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - VITE_API_URL
      - VITE_DOLMA_API_URL
      - VITE_ENABLE_MOCKING
      - VITE_IS_CORPUS_LINK_ENABLED
      - VITE_IS_ATTRIBUTION_SPAN_FIRST_ENABLED
      - VITE_ABSOLUTE_SPAN_SCORE
      - VITE_BUCKET_COLORS
      - VITE_IS_DATASET_EXPLORER_ENABLED
      - VITE_IS_MULTI_MODAL_ENABLED
      - VITE_IS_MODEL_CONFIG_ENABLED=${VITE_IS_MODEL_CONFIG_ENABLED:-true}
      - VITE_IS_COMPARISON_PAGE_ENABLED=${VITE_IS_COMPARISON_PAGE_ENABLED:-true}
  nginx:
    image: nginx:1.25.1-alpine
    volumes:
      - ./nginx/local.conf.template:/etc/nginx/templates/prod.conf.template
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:8080
    environment:
      - USER_EMAIL=${USER_EMAIL:-"murphy@allenai.org"}
