version: "3"
services:
  ui:
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - ./src:/ui/src
      - ./public:/ui/public
    environment:
      - NODE_ENV=development
  nginx:
    image: nginx:1.25.1-alpine
    volumes:
      - ./nginx/local.conf.template:/etc/nginx/templates/default.conf.template
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:8080
    environment:
      - USER_EMAIL=${USER_EMAIL:-"murphy@allenai.org"}
