version: "3"
services:
  api:
    build: ./api
    volumes:
      - ./api:/api
      - ./api/config.json:/secret/config/config.json
      - ./api/service_account.json:/secret/config/service_account.json
    environment:
      # This ensures that errors are printed as they occur, which
      # makes debugging easier.
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
  ui:
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - ./src:/ui/src
      - ./public:/ui/public
    environment:
      - NODE_ENV=development
      - LLMX_API_URL=${LLMX_API_URL}
  nginx:
    image: nginx:1.25.1-alpine
    volumes:
      - ./nginx/local.conf.template:/etc/nginx/templates/default.conf.template
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:8080
    environment:
      - USER_EMAIL=${USER_EMAIL:-"murphy@allenai.org"}
