version: "3"
services:
  api:
    build: ./api
    volumes:
      - ./api:/api
      - ./api/config.json:/secret/config/config.json
      - ./api/service_account.json:/secret/config/service_account.json
    environment:
      # This ensures that errors are printed as they occur, which
      # makes debugging easier.
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
    ports:
      - 8001:8000
  ui:
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - ./src:/ui/src
      - ./public:/ui/public
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - LLMX_API_URL
      - DOLMA_API_URL=/api
      - ENABLE_MOCKING=${ENABLE_MOCKING:-false}
      - IS_CORPUS_LINK_ENABLED
      - IS_ATTRIBUTION_SPAN_FIRST_ENABLED
      - IS_DATASET_EXPLORER_ENABLED
      - IS_PETEISH_MODEL_ENABLED
  nginx:
    image: nginx:1.25.1-alpine
    volumes:
      - ./nginx/local.conf.template:/etc/nginx/templates/prod.conf.template
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:8080
    environment:
      - USER_EMAIL=${USER_EMAIL:-"murphy@allenai.org"}
