.osano-cm-widget {
    display: none
}

/* The bar that shows up at the start with the Manage Preferences button */
.osano-cm-dialog {
}

/* The drawer with all the toggles */
.osano-cm-info-views {
    
}

/* the dialog that holds the drawer and bar */
.osano-cm-window {
    
}