name: Verify PR

concurrency:
  group: unit-${{ github.ref }}
  cancel-in-progress: true

on: 
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn test

  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn build

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn lint